body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-image: url("imge/demo1.jpg");
}
h2{
	color: white;
}
.head{
	background:#003366;
	padding: 10px;
	color: white;
}
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
.content{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background:#ccb3ff;
  padding: 10px;
}
/* Style the list inside the menu */

/* Style the content */
article {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color:#b3c6ff;
  padding: 10px;
  height: 500px;
}
.panel{
  float: 
}


/* Style the footer */
.footer {
  background-color:#003366;
  padding: 10px;
  color: white;
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }